@import "tailwindcss";

@theme{
    --color-primary: #48A111;
    --color-secondary: #25671E;
}

.animate-fade-in { animation: fadeIn 3s ease; }
@keyframes fadeIn { from { opacity: 0; transform: translateY(20px);} to { opacity: 1; transform: none; } }